# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

input_file = "Output Data/cities.csv"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv(input_file)
weather_df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,0,busselton,18,AU,1615261161,58,-33.6500,115.3333,300.37,2.68
1,1,baker city,90,US,1615261164,80,44.7749,-117.8344,275.15,1.54
2,2,jamestown,90,US,1615260927,45,42.0970,-79.2353,280.37,5.07
3,3,barrow,20,US,1615261168,68,71.2906,-156.7887,269.15,8.23
4,4,lompoc,1,US,1615261099,71,34.6391,-120.4579,283.15,2.57

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [26]:
locations = weather_df[["Latitude", "Longitude"]].astype(float)
humidity = weather_df["Humidity"]

In [25]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(locations,weights = humidity,dissipating=False,max_intensity=200, 
                                 point_radius = 5)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
weather_df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,0,busselton,18,AU,1615261161,58,-33.6500,115.3333,300.37,2.68
1,1,baker city,90,US,1615261164,80,44.7749,-117.8344,275.15,1.54
2,2,jamestown,90,US,1615260927,45,42.0970,-79.2353,280.37,5.07
3,3,barrow,20,US,1615261168,68,71.2906,-156.7887,269.15,8.23
4,4,lompoc,1,US,1615261099,71,34.6391,-120.4579,283.15,2.57

In [28]:
weather_new_df = weather_df.loc[(weather_df['Max Temperature'] < 80)&
                               (weather_df['Max Temperature'] > 70)]

weather_new_df.head()

Empty DataFrame
Columns: [City ID, City, Cloudiness, Country, Date, Humidity, Latitude, Longitude, Max Temperature, Wind Speed]
Index: []

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure